
<div style="width: 100%; padding: 30px;">
<div style="float:left; text-align:left;height: 20%;">
    Course Details
</div>
<div style="float:right; text-align:left;"><button class="btn btn-primary" (click)="openDialog()" style="align-items: right;">
    Add Course
</button></div>
</div>

<div *ngFor="let course of courseDetails; let i = index" style="float: left;clear: left; height: 70%; padding:20px; text-align: center;width: 100%;">
    <div style="float:left;text-align: left; background: rgb(228, 226, 226); width: 50%;padding: 10px;">{{course.name}}</div>
    <div style="text-align: right; background: rgb(228, 226, 226);width: 50%;float:right;padding:10px;">
        <a link="javascript:void(0);" (click)="openAttendanceDialog(course.id);">Add Attendance</a>
    </div>
</div>


